/* Custom Stylesheet */
@import 'config';

nav {
  background-color: $background-color;
}
.brand-logo {
  img {
    height: 64px;
  }
}

.content-wrapper {
  min-height: calc(100vh - 64px - 200px);
  &.index {
    background-image: url(/themes/mtw_build/img/gundl.jpg);
    background-attachment: scroll;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .spacer {
    height: 1000px;
  }
}

  .page-footer {
    background-color: $background-color;
    .footer-copyright {
      background-color: darken($background-color, 10%);
    }
  }
