/* Custom Stylesheet */
@import 'config';
@import 'features';

html {
  font-weight: lighter;
}

header {
  height: 96px;
  .navbar-fixed {
    height: 96px;
  }
}
nav {
  background-color: $background-color;
  height: 96px;
  ul {
    height: 96px;
    li {
      height: 96px;
      a {
        line-height: 96px;
        &.button-collapse {
          height: 96px;
          line-height: 96px;
        }
      }
    }
  }
  a {
    line-height: 96px;
    &.button-collapse {
      height: 96px;
      line-height: 96px;
      i {
        height: 96px;
        line-height: 96px;
        font-size: 300%;
      }
    }
  }
/*  .side-nav {
    padding-top: 96px;
  }*/
  .side-nav li>a {
    height: 96px;
    line-height: 96px;
  }
}
.brand-logo {
  height: 96px;

  img {
    height: 96px;
    border: none;
  }
}

.single-content {
  font-size: 130%;
}

a {
  color: $link-color;
  &:hover {
    color: orange;
  }
}

.content-wrapper {
  &.index {
    min-height: calc(100vh - 64px);
  }
  &.single {
    min-height: calc(100vh - 64px - 200px);
  }
  .title {
    margin-top: 50vh;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px grey;
    @media screen and (max-height: 600px) {
      margin-top: 45vh;
    }
    @media screen and (max-height: 550px) {
      margin-top: 40vh;
    }
    @media screen and (max-height: 500px) {
      margin-top: 35vh;
    }
    @media screen and (max-height: 450px) {
      margin-top: 25vh;
    }
  }
  .tag-line {
    font-weight: lighter;
  }
  .heading {
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px grey;
  }
  .subheading{
    font-weight: lighter;
    color: grey;
    margin-top: 0;
    padding: 0;
  }
  .spacer {
    height: 1000px;
  }
}

.canvas {
  display: block;
  font-size: 15pt;
  position: relative;
  width: 100%;
  height: 400px;

  .element {
    display: block;
    width: 300px;
    padding: 40px;
    position: absolute;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: bottom;

  }
  .wahrnehmung {
    top: 28%;
    left: 0;
    width: 350px;
    background-image: url('../img/one.svg');
    background-origin: padding-box;
    background-position: bottom;
    background-size: 250px;
    background-size: 70%;
    padding: 15px;

    @media screen and (min-width: 1300px) {
      left: 10%
    }
  }
  .staerken {
    right: 0;
    top: 0;
    background-image: url('../img/two.svg');
    background-size: 100%;
    width: 400px;
    height: 140px;
    text-align: center;
    background-position: center;
    color: white;
    @media screen and (min-width: 1300px) {
      right: 30%
    }

  }
  .kommunikation {
    top: 50%;
    right: 0;
    background-image: url('../img/three.svg');
    background-size: 100%;
    height: 120px;
    width: 213px;
    @media screen and (min-width: 1300px) {
      right: 20%
    }

  }
  .ziele {
    top: 75%;
    left: 0;
    background-image: url('../img/four.svg');
    width: 350px;
    background-size: 90%;
    padding: 30px;
    padding-left: 0;
    background-position: bottom left;
    @media screen and (min-width: 1300px) {
      top: 60%;
      left: 15%;
    }

  }
  .regeln {
    top: 100%;
    left: 30%;
    @media screen and (min-width: 1300px) {
      top: 90%;
      left: 40%;
    }

  }
}
.wuerde {
  margin-top: 40%;
  @media screen and (min-width: 1300px) {
    margin-top: 10%;
  }
}
.bold {
  font-weight: bold;
}

.icon-block {
  padding: 0 15px;
  h5 {
    font-weight: lighter;
  }
  .material-icons {
	  font-size: 150%;
    color: $icons-color;
  }
}

.material-icons {
  &.huge {
    font-size: 1000%;
  }
}

#coaching {
  padding: 3vh;
  font-size: 140%;
  font-weight: lighter;
}
#seminare{
  @extend #coaching;
}

p.features {
  font-size: 200%;
  font-weight: bold;
}

.container {
  &.features {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  &.offers {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}

.row {
  &.features {
    h4 {
      word-wrap: break-word;
      word-break: keep-all;
    }
  }
}

.parallax-container {
  &.index {
    height: calc(100vh - 64px);
  }
  &.features {
    height: auto;
  }
  &.offers {
    height: auto;
  }
  .greyscale {
    opacity: 0.75;
  }
}

.parallax {
  &.offers {
    background-color: black;
  }
}

.page-footer {
  background-color: $background-color;
  padding: 0;

  h4 {
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }

  .container {
    .row {
      margin: 0;

    }
  }

  .footer-copyright {
    background-color: darken($background-color, 10%);
    padding: 0;
    display: none;
  }
  .contact {
    padding-left: 55px;
    margin: 0;
    margin-bottom: 10px;

    &.material-icons {
      padding: 10px;
      margin: 0;
      color: white;
      background-color: $accent-color;
    }
  }
}
