/* Custom Stylesheet */
@import 'config';

nav {
  background-color: $background-color;
}
.brand-logo {
  img {
    height: 64px;
  }
}

.content-wrapper {
  min-height: calc(100vh - 64px - 200px);
}

  .page-footer {
    background-color: $background-color;
    .footer-copyright {
      background-color: darken($background-color, 10%);
    }
  }
