{% include 'header.php' %}

{% include 'navbar.php' %}

  <div class="content-wrapper index">
    <div class="parallax-container index">
      <div class="container">
        <div class="row">
          <div class="col 12">
            <h1 class="title">CHRISTIAN GUNDL</h1>
            <h3 class="tag-line grey-text text-lighten-1">Training · Beratung · Coaching</h3>
            <div class="parallax"><img src="{{ theme_url }}/img/gundl.jpg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-wrapper features">
    <div class="parallax-container features">
      <div class="container features">
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center"><i class="material-icons">help</i></h2>
              <h5 class="center">Bewusster Wahrnehmen und Reflektieren</h5>

              <!--<p class="light">Meine Angebote haben das Ziel, Menschen dabei zu helfen, bewusster wahrzunehmen und zu reflektieren.</p>-->
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center"><i class="material-icons">group</i></h2>
              <h5 class="center">Persönliche Stärken und Verbesserungsmöglichkeiten Kennenlernen</h5>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center"><i class="material-icons">contacts</i></h2>
              <h5 class="center">Konfliktfreiere Kommunikation</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m4 push-m2">
            <div class="icon-block">
              <h2 class="center"><i class="material-icons">work</i></h2>
              <h5 class="center">Persönliche mit Beruflichen Zielen in Einklang Bringen</h5>
            </div>
          </div>
          <div class="col s12 m4 push-m2">
            <div class="icon-block">
              <h2 class="center"><i class="material-icons">person</i></h2>
              <h5 class="center">Richtige Erfolgsregeln für Sie Finden</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="parallax-container">
      <div class="container">
        <div class="row">
          <h2 class="heading">Erfolgreiche Kommunikation ist nicht angeboren, sondern erlernbar</h2>
          <div class="card">
            <div class="col s12 m4">
                Business Coaching
            </div>
            <div class="col s12 m4">
              Private Coaching
            </div>
            <div class="col s12 m4">
              Seminare und Trainings
            </div>
          </div>
          <div class="parallax greyscale"><img src="{{ theme_url }}/img/communication.jpg"></div>
        </div>
      </div>
    </div>
  </div>

  {% include 'footer.php' %}

  <script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });
  </script>
</body>
</html>
