<!DOCTYPE html>
<html ng-app>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>{{ meta.title }} | {{ site_title }}</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="{{ theme_url }}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>

  <body>
    <header>
      <nav>

      </nav>
    </header>

    <article class="">
      {{ content }}
    </article>

    <footer>

    </footer>
    <!--  Scripts-->

    <!-- cause jQuery is awesome -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Your application bootstrap  -->
    <script type="text/javascript">
      /**
       * You must include the dependency on 'ngMaterial'
       */
      angular.module('MTW', ['ngMaterial']);
    </script>

  </body>
</html>
